@page "/"

<div style="align-content:center">
    <h1 style="display: flex; align-items: center; justify-content: center;">
        <b>
            <span
                style="letter-spacing: -2px; font-size: 26pt;font-family: 'Eras Bold ITC' , sans-serif; color: rgb(71, 95, 129);">JWT</span>
        </b>
        <b>
            <i>
                <span
                    style="letter-spacing: -2px; font-size: 26pt; font-family: 'Eras Bold ITC', sans-serif; color: rgb(8, 150, 97);">Login</span>
            </i>
        </b>
        &nbsp;
        <b>
            <span style="font-size: 22pt; font-family: 'Eras Bold ITC', sans-serif; color: rgb(8, 150, 97);">D</span>

        </b>
        <b>
            <span
                style="font-size: 22pt; font-family: 'Eras Bold ITC', sans-serif; color: rgb(71, 95, 129);">emo</span>
        </b>
        &nbsp;
        <b>
            <span style="font-size: 22pt; font-family: 'Eras Bold ITC', sans-serif; color: rgb(8, 150, 97);">S</span>

        </b>
        <b>
            <span
                style="font-size: 22pt; font-family: 'Eras Bold ITC', sans-serif; color: rgb(71, 95, 129);">ystem</span>
        </b>
    </h1>
</div>
<br />
<hr />

<Login></Login>
